#viewhigh {
    float: left;
    margin: 20px;
}

#time {
    float: right;
    margin: 20px;
}

#content {
    text-align: center;
    padding: 100px;
}

button {
    display: block;
    margin: 0 auto;

}

#buttonarea {
    text-align: left;
}